/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-content {
   border-bottom: 8px solid $color__wcyvr-green;
   position: relative;

   &:after {
      bottom: 0;
      content: '';
      display: block;
      height: 300px;
      left: 50%;
      max-width: 1400px;
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
      z-index: -1;

      background:
         url('https://2016.vancouver.wordcamp.org/files/2016/05/right-scene.png') no-repeat right 15px bottom;
         background-size: 300px 135px;

      @include big-phone {
         background-size: 400px 180px;
      }

      @include tablet {
         background:
            url('https://2016.vancouver.wordcamp.org/files/2016/05/left-scene.png') no-repeat left 15px bottom,
            url('https://2016.vancouver.wordcamp.org/files/2016/05/right-scene.png') no-repeat right 15px bottom;
            background-size: 267px 161px, 300px 135px;
      }

      @include desktop {
         background-size: 356px 214px, 400px 180px;
      }
   }
}

#content {
   @include container;
   max-width: $inner-container-width;
   padding-bottom: $base__space-unit * 4;
   padding-top: $base__space-unit;
}

.post:not(.single) {
   margin-bottom: $base__space-unit * 3;

   &:last-child {
      margin-bottom: 0;
   }
}

.byline {
   display: none;
}

.sep {
   display: none;
}

.entry-header {
   margin-bottom: $base__space-unit;
   text-align: center;

   .entry-meta {
      padding-top: $base__space-unit / 2;

      &:before {
         // content: "\f073";
         content: "";
         display: inline-block;
         font-family: 'FontAwesome';
         margin-right: $base__space-unit / 3;
      }
   }
}

.entry-title {
   a {
      color: $color__wcyvr-red;
      text-decoration: none;

      &:hover {
         color: darken( $color__wcyvr-red, 15% );
      }
   }
}

.entry-meta {
   color: darken( $color__wcyvr-grey, 15% );
   font-family: $font__alt;

   a {
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }
}

footer.entry-meta {
   margin-top: $base__space-unit * 2;

   & > span {
      margin: 0 ($base__space-unit / 3);
      white-space: nowrap;

      &:first-child {
         margin-left: 0;
      }

      &:last-child {
         margin-right: 0;
      }
   }
}

.comments-link,
.edit-link {
   &:before {
      color: $color__wcyvr-grey;
      display: inline-block;
      font-family: 'FontAwesome';
      margin-right: $base__space-unit / 3;
   }
}

.comments-link {
   &:before {
      // content: "\f075";
      content: "";
   }
}

.edit-link {
   &:before {
      // content: "\f040";
      content: "";
   }
}

/* Comments */

.comments-area {
   display: none;
}

.post .comments-area {
   border-top: $base__border;
   display: block;
   padding-top: $base__space-unit;

   ol, ul {
      list-style-type: none;
   }
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title {
   @include font-size(1.8);
	margin-bottom: 0;
   margin-top: $base__space-unit / 2;
}

.commentlist {
   margin-bottom: $base__space-unit * 1.5;
   margin-left: 0;
   padding-left: 0;

	& > li {
		border-bottom: $base__border;
	}
}

.children li {
	border-top: $base__border;
}

.comment {
	padding-top: $base__space-unit;

	article {
		padding-bottom: $base__space-unit;
	}
}

.comment-body {
	display: flex;

	p {
		margin-bottom: $base__space-unit / 2;
	}
}

.comment {
   footer {
      @extend .clearfix;
      width: 100%;
   }
}

.comment-author,
.comment-meta {
   a {
      text-decoration: none;
   }
}

.comment-author {
   .avatar {
   	border-radius: 50%;
      float: left;
   	height: 64px;
   	margin-right: $base__space-unit;
   	overflow: hidden;
   	width: 64px;
   }

	cite {
		font-style: normal;
		font-weight: bold;
	}

   .says {
      @extend .assistive-text;
   }
}

.comment-meta {
   line-height: 1;
	margin-bottom: $base__space-unit / 2;

   a {
      color: $color__wcyvr-grey;
      font-family: $font__alt;
   }
}

.required {
	color: $color__wcyvr-green;
}

.comment-reply-link {
   background: $color__wcyvr-red;
   border: none;
   border-radius: 0;
   color: white;
   cursor: pointer;
   font-family: $font__main;
   @include font-size(.8);
   line-height: 1;
   padding: ($base__space-unit / 3) ($base__space-unit / 2);
   text-decoration: none;
   text-transform: uppercase;

   &:hover,
   &:active,
   &:focus {
      background: darken($color__wcyvr-red, 5%);
      color: white;
   }
}

.comment-reply-title {
   @include font-size(1.6);
	margin-top: $base__space-unit;
}

#cancel-comment-reply-link:hover {
	text-decoration: none;
}

/* Search and Archives */

.search,
.archive {
   .page-header {
      text-align: center;
   }
   .page-title {
      border-bottom: $base__border;
      color: darken($color__wcyvr-grey, 10%);
      font-family: $font__main;
      @include font-size(1.2);
      display: inline-block;
      padding: 0 $base__space-unit ($base__space-unit * 1.5);
   }
}

.search {
   #nav-above {
      display: none;
   }
}
