// MIXINS


// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Container
@mixin container {
	margin-left: auto;
	margin-right: auto;
	max-width: $outer-container-width;
	padding-left: $base__space-unit / 2;
	padding-right: $base__space-unit / 2;
	width: 100%;
}

// Media Queries
@mixin big-phone {
  @media (min-width: $big-phone-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
