/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	background: $color__wcyvr-green;
	clear: both;
	display: block;
	width: 100%;

	.menu {
		@include container;
	}

	ul {
		display: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			display: block;
			padding: $base__space-unit / 2;

			&:hover {
				background: lighten($color__wcyvr-green, 5%);
				color: $color__wcyvr-yellow;
			}
		}

		ul {
			background: lighten($color__wcyvr-green, 5%);
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 49px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}

			@include tablet {
				top: 52px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {

			}
		}

		.current_page_item,
		.current-menu-item,
		.current_page_ancestor  {
			background: lighten($color__wcyvr-green, 5%);
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}

/* Small menu. */

.main-small-navigation {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;

	.admin-bar & {
		top: 46px;
	}

	& > div > ul {
		display: none;
		background: $color__wcyvr-green;
	}

	& > div > ul > li {
		border-bottom: 1px solid lighten($color__wcyvr-green, 10%);

		&:last-child {
			border: 0;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		ul {
			li {
				padding-left: $base__space-unit / 2;

				a:before {
					content: '→';
					margin-right: $base__space-unit / 2;
				}

				&:hover {
					background: lighten($color__wcyvr-green, 5%);
				}
			}
		}
	}

	a {
		color: white;
		display: block;
		padding: ($base__space-unit / 3) $base__space-unit;
		text-decoration: none;

		&:hover {
			background: lighten($color__wcyvr-green, 5%);
			color: $color__wcyvr-yellow;
		}
	}
}

.main-small-navigation .menu-toggle {
	color: white;
	@include font-size(1.5);
	margin-top: 0;
	position: relative;
	right: 9999px;

	&:after {
		content: '\f0c9';
		cursor: pointer;
		font-family: "FontAwesome";
		padding: ($base__space-unit / 6) ($base__space-unit / 2);
		position: absolute;
		right: -9999px;
	}

	&.toggled-on:after {
		background: $color__wcyvr-green;
		content: '\f00d';
	}
}

@media screen and (min-width: 600px) {
	.main-small-navigation .menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.comment-navigation,
.posts-navigation,
.paging-navigation,
.post-navigation {
	margin-top: $base__space-unit;

	&:after {
		@extend .clearfix;
	}

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		padding-right: $base__space-unit * 2;
		width: 50%;
	}

	.nav-next {
		float: right;
		padding-left: $base__space-unit * 2;
		text-align: right;
		width: 50%;
	}
}

.post-navigation {
	margin: ($base__space-unit * 2) 0 ($base__space-unit * 1.5);

	a {
		font-weight: 700;
		text-decoration: none;
	}
}

.comment-navigation,
.posts-navigation,
.paging-navigation {
	margin-top: $base__space-unit;

	.nav-previous,
	.nav-next {
		a {
			background: $color__wcyvr-green;
			border: none;
			border-radius: 0;
			color: white;
			cursor: pointer;
			display: inline-block;
			font-family: $font__main;
			line-height: 1;
			padding: ($base__space-unit / 2) $base__space-unit;
			text-decoration: none;
			text-transform: uppercase;

			&:hover,
			&:active,
			&:focus {
				background: darken($color__wcyvr-green, 5%);
				color: white;
			}
		}
	}
}
